.btn {
  display: flex;
  justify-content: space-between;
  border:1px solid $color1;
  border-radius: 100px;
  padding:0px 10px 0px 30px;
  text-decoration: none;
  width:100%;
  max-width: 400px;
  margin:0 auto 14px auto;

  &__inner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 70px;
    min-width: 140px;

    @media all and (min-width: $screen-smart-l) {
      font-size: 14px;
      min-width: 160px;
    }

  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to right, #f51e47,#ff568d);
    border-radius: 100px;
    font-family: 'SFProText','SF Pro Display', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    min-height: 41px;
    width: 100%;
    padding:0 20px;

    @media all and (min-width: $screen-smart-l) {
      font-size: 14px;
    }
  }

  &__text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__discount {
    color: $color1;
    font-family: 'SFProText','SF Pro Display', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 5px;

    @media all and (min-width: $screen-smart-l) {
      font-size: 22px;
      margin-top: 10px;
    }

  }

  &__price {
    color: $color1;
    font-family: 'SFProText', 'SF Pro Display', sans-serif;
    font-size: 12px;
    font-weight: 200;

    @media all and (min-width: $screen-smart-l) {
      font-size: 14px;
    }

  }
}